In [1]:
import sqlite3 as sql

In [2]:
connection = sql.connect("DatabaseMovie.db")

In [3]:
pointer = connection.cursor()

In [4]:
pointer = connection.cursor()
pointer.execute("CREATE TABLE IF NOT EXISTS MOVIES( NAME TEXT, ACTOR TEXT, ACTRESS TEXT,DIRECTOR_NAME TEXT, YEAR INTEGER )")
pointer.execute("INSERT INTO MOVIES VALUES('P.K','Anushka Sharma','Aamir Khan','Rajkumar Hirani',2018)")
pointer.execute("INSERT INTO MOVIES VALUES('Wanted','Salman Khan','Ayesha Takia','Prabhu Deva.',2009)")
pointer.execute("INSERT INTO MOVIES VALUES('Black Panther','TChalla','Okoye','Ryan Coogler',2018)")
pointer.execute("INSERT INTO MOVIES VALUES('Transformers','Shia LaBeouf','Meghan Fox','Michael Bay',2007)")
pointer.execute("INSERT INTO MOVIES VALUES('Spider-Man: No Way Home','Tom Holland','Zendaya','Jon Watts',2021)")

In [5]:
# Printing all the elements of the database 
print("All in the database")
allMovies = pointer.execute("SELECT * FROM MOVIES").fetchall()
for i in allMovies:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

All in the database
P.K		Anushka Sharma		Aamir Khan		Rajkumar Hirani		2018
============================================================================================
Wanted		Salman Khan		Ayesha Takia		Prabhu Deva.		2009
============================================================================================
Black Panther		TChalla		Okoye		Ryan Coogler		2018
============================================================================================
Transformers		Shia LaBeouf		Meghan Fox		Michael Bay		2007
============================================================================================
Spider-Man: No Way Home		Tom Holland		Zendaya		Jon Watts		2021
============================================================================================

In [7]:
print("Lead Actor")
actorQuery = pointer.execute("SELECT * FROM MOVIES WHERE ACTOR = 'Salman Khan'").fetchall()
for i in actorQuery:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

Lead Actor
Wanted		Salman Khan		Ayesha Takia		Prabhu Deva.		2009
============================================================================================

In [13]:
print("Lead Actress")
actressQuery = pointer.execute("SELECT * FROM MOVIES WHERE ACTRESS = 'Meghan Fox'").fetchall()
for i in actressQuery:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

Lead Actress
Transformers		Shia LaBeouf		Meghan Fox		Michael Bay		2007
============================================================================================

In [15]:
print("Years")
Year = pointer.execute("SELECT * FROM MOVIES WHERE YEAR = '2018'").fetchall()
for i in Year:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

Years
P.K		Anushka Sharma		Aamir Khan		Rajkumar Hirani		2018
============================================================================================
Black Panther		TChalla		Okoye		Ryan Coogler		2018
============================================================================================

In [32]:
print("All The Actress")
AllActress = pointer.execute("SELECT * FROM MOVIES WHERE ACTRESS = 'Aamir Khan''Ayesha Takia''Okaye''Meghan Fox''Zendaya'").fetchall()
for i in AllActress:
  title,actor,actress,director,releasedYear = i
  print("{t}\t\t{a}\t\t{ats}\t\t{d}\t\t{ry}".format(t=title,a=actor, ats=actress,d=director,ry=releasedYear))
  print("============================================================================================")

All The Actress